
data.zip
data/.DS_Store
data/CBS100m/.DS_Store
data/CBS100m/cbs_vk100_2021_v1.gpkg
data/Ljubljana_19Dec2022/highway_speed_barrier_50.geojson
data/Ljubljana_19Dec2022/highway_speed_barrier_60more.geojson
data/Ljubljana_19Dec2022/highway_type_barrier_12.geojson
data/Ljubljana_19Dec2022/highway_type_barrier_3.geojson
data/Ljubljana_19Dec2022/natural_barrier_blue.geojson
data/Ljubljana_19Dec2022/natural_barrier_green_large.geojson
data/Ljubljana_19Dec2022/natural_barrier_parks_large.geojson
data/Ljubljana_19Dec2022/paths.geojson
data/Ljubljana_19Dec2022/playground_attraction.geojson
data/Ljubljana_19Dec2022/playground_childsplay_access.geojson
data/Ljubljana_19Dec2022/playground_euclidean_access.geojson
data/Ljubljana_19Dec2022/playground_network_access.geojson
data/Ljubljana_19Dec2022/railway_barrier_other.geojson
data/Ljubljana_19Dec2022/safe_crossings.geojson
data/Ljubljana_19Dec2022/schoolyard_attraction.geojson
data/Ljubljana_19Dec2022/schoolyard_childsplay_access.geojson
data/Ljubljana_19Dec2022/schoolyard_network_access.geojson
data/Ljubljana_19Dec2022/small_park_attraction.geojson
data/Ljubljana_19Dec2022/small_park_childsplay_access.geojson
data/Ljubljana_19Dec2022/small_park_network_access.geojson
data/Milano_19Dec2022/highway_speed_barrier_50.geojson
data/Milano_19Dec2022/highway_type_barrier_12.geojson
data/Milano_19Dec2022/highway_type_barrier_3.geojson
data/Milano_19Dec2022/natural_barrier_blue.geojson
data/Milano_19Dec2022/natural_barrier_parks_large.geojson
data/Milano_19Dec2022/paths.geojson
data/Milano_19Dec2022/playground_attraction.geojson
data/Milano_19Dec2022/playground_childsplay_access.geojson
data/Milano_19Dec2022/playground_euclidean_access.geojson
data/Milano_19Dec2022/playground_network_access.geojson
data/Milano_19Dec2022/railway_barrier_other.geojson
data/Milano_19Dec2022/railway_barrier_tram.geojson
data/Milano_19Dec2022/safe_crossings.geojson
data/Milano_19Dec2022/schoolyard_attraction.geojson
data/Milano_19Dec2022/schoolyard_childsplay_access.geojson
data/Milano_19Dec2022/schoolyard_network_access.geojson
data/Milano_19Dec2022/small_park_attraction.geojson
data/Milano_19Dec2022/small_park_childsplay_access.geojson
data/Milano_19Dec2022/small_park_network_access.geojson
data/Utrecht_19Dec2022/highway_speed_barrier_50.geojson
data/Utrecht_19Dec2022/highway_speed_barrier_60more.geojson
data/Utrecht_19Dec2022/highway_type_barrier_12.geojson
data/Utrecht_19Dec2022/highway_type_barrier_3.geojson
data/Utrecht_19Dec2022/highway_type_barrier_major.geojson
data/Utrecht_19Dec2022/natural_barrier_blue.geojson
data/Utrecht_19Dec2022/natural_barrier_parks_large.geojson
data/Utrecht_19Dec2022/paths.geojson
data/Utrecht_19Dec2022/playground_attraction.geojson
data/Utrecht_19Dec2022/playground_childsplay_access.geojson
data/Utrecht_19Dec2022/playground_euclidean_access.geojson
data/Utrecht_19Dec2022/playground_network_access.geojson
data/Utrecht_19Dec2022/railway_barrier_other.geojson
data/Utrecht_19Dec2022/railway_barrier_tram.geojson
data/Utrecht_19Dec2022/safe_crossings.geojson
data/Utrecht_19Dec2022/schoolyard_attraction.geojson
data/Utrecht_19Dec2022/schoolyard_childsplay_access.geojson
data/Utrecht_19Dec2022/schoolyard_network_access.geojson
data/Utrecht_19Dec2022/small_park_attraction.geojson
data/Utrecht_19Dec2022/small_park_childsplay_access.geojson
data/Utrecht_19Dec2022/small_park_network_access.geojson
data/Utrecht_West_03Oct2022/highway_speed_barrier_50.geojson
data/Utrecht_West_03Oct2022/highway_speed_barrier_60more.geojson
data/Utrecht_West_03Oct2022/highway_type_barrier_12.geojson
data/Utrecht_West_03Oct2022/highway_type_barrier_3.geojson
data/Utrecht_West_03Oct2022/highway_type_barrier_major.geojson
data/Utrecht_West_03Oct2022/natural_barrier_blue.geojson
data/Utrecht_West_03Oct2022/natural_barrier_green.geojson
data/Utrecht_West_03Oct2022/natural_barrier_parks.geojson
data/Utrecht_West_03Oct2022/railway_barrier_other.geojson
data/Utrecht_West_03Oct2022/railway_barrier_tram.geojson
data/Utrecht_Zuid_03Oct2022/highway_speed_barrier_50.geojson
data/Utrecht_Zuid_03Oct2022/highway_speed_barrier_60more.geojson
data/Utrecht_Zuid_03Oct2022/highway_type_barrier_12.geojson
data/Utrecht_Zuid_03Oct2022/highway_type_barrier_3.geojson
data/Utrecht_Zuid_03Oct2022/highway_type_barrier_bus.geojson
data/Utrecht_Zuid_03Oct2022/highway_type_barrier_major.geojson
data/Utrecht_Zuid_03Oct2022/natural_barrier_blue.geojson
data/Utrecht_Zuid_03Oct2022/natural_barrier_green.geojson
data/Utrecht_Zuid_03Oct2022/natural_barrier_parks.geojson
data/Utrecht_Zuid_03Oct2022/railway_barrier_other.geojson
data/Utrecht_Zuid_03Oct2022/railway_barrier_tram.geojson
data/Utrecht_ZuidWest_03Oct2022/highway_speed_barrier_50.geojson
data/Utrecht_ZuidWest_03Oct2022/highway_speed_barrier_60more.geojson
data/Utrecht_ZuidWest_03Oct2022/highway_type_barrier_12.geojson
data/Utrecht_ZuidWest_03Oct2022/highway_type_barrier_3.geojson
data/Utrecht_ZuidWest_03Oct2022/highway_type_barrier_bus.geojson
data/Utrecht_ZuidWest_03Oct2022/highway_type_barrier_major.geojson
data/Utrecht_ZuidWest_03Oct2022/natural_barrier_blue.geojson
data/Utrecht_ZuidWest_03Oct2022/natural_barrier_green.geojson
data/Utrecht_ZuidWest_03Oct2022/natural_barrier_parks.geojson
data/Utrecht_ZuidWest_03Oct2022/railway_barrier_other.geojson
data/Utrecht_ZuidWest_03Oct2022/railway_barrier_tram.geojson
data/WijkBuurtkaart_2022_v0/.DS_Store
data/WijkBuurtkaart_2022_v0/SHP/.DS_Store
data/WijkBuurtkaart_2022_v0/SHP/CBS_buurten2022.cpg
data/WijkBuurtkaart_2022_v0/SHP/CBS_buurten2022.dbf
data/WijkBuurtkaart_2022_v0/SHP/CBS_buurten2022.prj
data/WijkBuurtkaart_2022_v0/SHP/CBS_buurten2022.sbn
data/WijkBuurtkaart_2022_v0/SHP/CBS_buurten2022.sbx
data/WijkBuurtkaart_2022_v0/SHP/CBS_buurten2022.shp
data/WijkBuurtkaart_2022_v0/SHP/CBS_buurten2022.shx
